<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colour Changer Home Page</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
   
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <div class="container">
        <h3>Welcome to the Colour Changer home page!</h3>
        <p>Click a button below to get started.</p>
        <a href="demo" class="btn" name="cont">Continue as guest</a> <br>
        <p>Logging in grants access to more colour options.</p>
        <a href="login" class="btn" name="login">Log in</a>
        
</body>
</html>