<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colour Changer Login Page</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
   
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <div class="container">
        <p>{{login_error}}</p>
        <form action="" method="POST" class="form-inline">
            {{ form.csrf }}
            <label for="username_input">Username:</label>
            <input name="username" id="username_input" class="form_control">
            <label for="password_input">Password:</label>
            <input name="password" id="password_input" class="form_control">
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
    
</body>
</html>