<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 

</head>
<body>

    <h5>Register for the machine</h5>
    <p> {{ error }}

    <form action="" class="form-inline">

        {{ form.csrf }}
        {{ form.realname }}
        {{ form.username }}
        {{ form.password }}
        {{ form.confirm_pass }}
        {{ form.code }}
        {{ form.submit }}
    
    </form>

    <p>Already a member?</p>
    <a class="btn" href="register">Register</a>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</body>
</html>