<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 

</head>
<body>

    <h5>Register for the machine</h5>
    <p>{{ error }}</p>

    <div class="container">

        <form action="" method="POST" class="form-inline">

            {{ form.csrf }}
            {{ form.realname.label }}
            {{ form.realname }}
            {{ form.username.label }}
            {{ form.username }}
            {{ form.password.label }}
            {{ form.password }}
            {{ form.confirm_pass.label }}
            {{ form.confirm_pass }}
            {{ form.code.label }}
            {{ form.code }}
            {{ form.submit }}
        
        </form>

        <p>Already a member?
        <a href="login">Login.</a>
        </p>
        
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</body>
</html>