<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weighted Graph</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    
    <div class="container">

        <h5>Get the shortest path between two nodes</h5>
        <p>

            {{ error }}

            <form action="" method="POST" class="form-inline">

                {{ form.csrf }}
                
                {% for field in form if field.widget.input_type != 'hidden' and field.widget.input_type != 'submit' %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}

                {{ form.submit }}
            
            </form>
            <a href="..">Go back.</a>
        </p>

    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</body>
</html>