<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weighted Graph</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    
    <div class="container">
        <h5>Current graph</h5>
        <p>
            Format: node | connecting(weight)<br>
            {% for node in adj_list %}
                {{ loop.index-1 }} |
                {% for connecting in node %}
                    {{ connecting[0] }}({{ connecting[1] }})
                {% endfor %}
                <br>
            {% endfor %} 

            <a href="..">Go back.</a>
        </p>
    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</body>
</html>