<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weighted Graph</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    
    <div class="container">
        <h5>Welcome to the Online Weighted Graph Simulator</h5>
        <p>
            What would you like to do?<br>
            <a href="mod">Modify an edge's weight.</a><br>
            <a href="dij">Get the shortest path between two nodes</a><br>
            <a href="show">Display the current graph</a><br>
            <a href="change">Switch to different graph</a>
        </p>
    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</body>
</html>